/*i mports */

@import url('https://googleapis.com');

body {

  color: white;
  text-align: center;
  font-family: Arial;
  background-image: url(../assets/fundo-slot.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  
}



.container-principal{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  
 }

        

.titulo {
    position: absolute;
    left: 50%;
    top: -8px;
    transform: translateX(-50%);
    font-family: 'Great Vibes', cursive !important;
    font-size: 34px;
    background: linear-gradient(90deg, #fff3a0, #ffd700, #ffb300, #fff3a0);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    text-shadow:
        0 0 5px #ffd700,
        0 0 10px #ffcc00,
        0 0 20px #ffb300;
    animation: brilhoTitulo 3s linear infinite;
}
@keyframes brilhoTitulo {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 200%;
    }
}

.titulo::before {
  content: "";
    position: absolute;
    top: 50%;
    width: 710px;
    height: 10px;
    transform: translateY(-50%);
    transform: translateX(-100%);


    background: radial-gradient(circle, #ffd700 4px, transparent 5px);
    background-size: 30px 10px;
    background-repeat: repeat-x;

    filter: drop-shadow(0 0 5px #ffd700);

    animation: bolinhasAndando 2s linear infinite;
}

.titulo::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 710px;
    height: 10px;
    
    background: radial-gradient(circle, #ffd700 4px, transparent 5px);
    background-size: 30px 10px;
    background-repeat: repeat-x;

    filter: drop-shadow(0 0 5px #ffd700);

    animation: bolinhasAndando 2s linear infinite;
}

@keyframes bolinhasAndando {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 30px 0;
    }
}


.carrosel-anuncio{
  overflow: hidden;
  flex: 0 0 auto;

  width: 30vh;
  height: 80vh;
  margin-top: 10vh;

 

  box-shadow: 0 8px 32px 0 rgba(255, 215, 0);
  border-radius: 10px;

  animation: pulsarSombra 0.8s infinite;
  

 
 
}


.anuncio {
    
    display: flex;
    transition: transform 0.5s ease-in-out;

}
.anuncio2 {
  
    display: flex;
    transition: transform 0.5s ease-in-out;

}

.slide {
  min-height: 100%;
  
}


#img-anuncio{
  width: 30vh;
  height: 80vh;
  border-radius:10px ;
}


#reel1, #reel2, #reel3 {
  width: 150px;
  height: 150px;
}


.container-aposta{
  width: 100px;
  height: 300px;
}

.container-slot {
    /*Efeito de vidro (Firula kk)*/
    background: rgba(255, 255, 255, 0.007);
    box-shadow: 0 8px 32px 0 rgba(255, 215, 0);
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    

    /*Tamanho da area onde todo o jogo fica*/
    width: 110vh;
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
    
    
}



@keyframes pulsarSombra {
  0% {
    box-shadow: 0 0 10px rgba(255, 215, 0);
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 215, 0);
  }
  100% {
    box-shadow: 0 0 10px rgba(255, 215, 0);
  }
}


.slot { /*area onde fica as figuras*/

  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  
  width: 550px;

  padding: 30px;
  border-radius: 20px;

  /*efeito de profundidade*/
  background: linear-gradient(145deg, #22222280, #111);
  box-shadow: 
    0 0 10px gold,
    inset 0 0 20px #000;

    
}


.reel { /*quadrado das figuras do slot*/
  width: 175px;
  height: 175px;

  background: linear-gradient(#fff, #ddd);
  border: 4px solid gold;
  border-radius: 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 80px;

  box-shadow:
    inset 0 0 10px #000,
    0 0 10px gold;

    animation: pulsarSombra 0.5s infinite;
}


.info { /*informações (aposta e multiplicador.)*/
  margin-bottom: 20px;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
}

.card-saldo {
  width: 180px;
  height: 60px;
  margin-top: 20px;

  font-size: 22px;
  
  
  display: flex;
  justify-content: center;
  align-items: center;

  color: rgb(64, 255, 0); /*cor do titulo*/
  text-shadow: 0 0 10px rgb(255, 215, 0), 0 0 20px orange; /*efeito de brilho*/

  animation: pulsarSombra 0.8s infinite;

  border-radius: 10px;

  /*efeito de profundidade*/
  background: linear-gradient(145deg, #22222280, #111);
  box-shadow: 
    0 0 10px gold,
    inset 0 0 20px #000;
}

.card-mult {
  width: 185px;
  height: 60px;
  margin-top: 20px;

  font-size: 20px;
  

  display: flex;
  justify-content: center;
  align-items: center;

  color: gold; /*cor do titulo*/
  text-shadow: 0 0 10px rgb(255, 215, 0), 0 0 20px orange; /*efeito de brilho*/

  animation: pulsarSombra 0.8s infinite;

  

  /* animation: piscar 0.5s linear infinite; */
   /* nome, duração, tipo, repetição */

  border-radius: 10px;

  /*efeito de profundidade*/
  background: linear-gradient(145deg, #22222280, #111);
  box-shadow: 
    0 0 10px gold,
    inset 0 0 20px #000;
}

.card-aposta {
  width: 180px;
  height: 60px;
  margin-top: 20px;

  font-size: 22px;
  

  display: flex;
  justify-content: center;
  align-items: center;

  color: rgb(0, 255, 200); /*cor do titulo*/
  text-shadow: 0 0 10px rgb(255, 215, 0), 0 0 20px orange; /*efeito de brilho*/

  /* animation: piscar 1s linear infinite; */
   /* nome, duração, tipo, repetição */

  animation: pulsarSombra 0.8s infinite;

  border-radius: 10px;

  /*efeito de profundidade*/
  background: linear-gradient(145deg, #22222280, #111);
  box-shadow: 
    0 0 10px gold,
    inset 0 0 20px #000;
}



@keyframes pulsar-timer {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); } /* Aumenta 10% */
  100% { transform: scale(1); }
}

@keyframes pulsar-botao-girar {
  0% { transform: scale(1); }
  50% { transform: scale(1.04); } /* Aumenta 10% */
  100% { transform: scale(1); }
}

@keyframes pulsarSombra-botao-girar {
  0% {
    box-shadow:  0 0 5px #006400, 0 0 10px #00ff88;
    }
  50% {
    box-shadow: 0 0 5px #006400, 0 0 20px #00ff88;
  }
  100% {
    box-shadow: 0 0 5px #006400, 0 0 10px #00ff88;
  }
}


.container-time{
  width: 150px;
  height: 50px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.timer-vermelho{
  color: red;
}

#timer{
  font-size: 30px;
  font-family: 'Roboto Mono', monospace;

  animation: pulsar-timer 1.5s infinite;
}

.container-botao{
  width: 600px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  
}

.botao-mais{
  padding: 15px 50px;
  font-size: 22px;
  font-weight: bold;
 

  background: linear-gradient(#00c853, #009624);
  color: white;

  border: none;
  border-radius: 15px;

  cursor: pointer;

  box-shadow:
    0 5px 0 #006400,
    0 0 15px #00ff88;
}

.botao-menos{
  padding: 15px 50px;
  font-size: 22px;
  font-weight: bold;
  
  

  background: linear-gradient(#c80000, #960000);
  color: white;

  border: none;
  border-radius: 15px;

  cursor: pointer;

  box-shadow:
    0 5px 0 #641700,
    0 0 15px #ff5100;
}

.botao-girar{
  padding: 15px 50px;
  font-size: 22px;
  font-weight: bold;
  
  
  animation: pulsar-botao-girar 2s infinite;

  background: linear-gradient(#02ff6c, #00d432);
  color: white;

  border: none;
  border-radius: 15px;

  cursor: pointer;

  box-shadow:
    0 5px 0 #006400,
    0 0 15px #00ff88;

  animation: pulsarSombra-botao-girar 1s infinite;
}

.dica-botao-container {
  position: relative;
  display: inline-block;
}

.dica-botao-texto {
  visibility: hidden;
  width: 120px;
  font-style: italic;
  color: #FFD700;
  
  text-shadow:
        0 0 5px #ffd700,
        0 0 10px #ffcc00,
        0 0 20px #ffb300;
    animation: brilhoTitulo 3s linear infinite;


  font-weight: bold; 
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Posiciona acima do botão */
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s; /* Efeito suave */
}

.dica-botao-container:hover .dica-botao-texto {
  visibility: visible;
  opacity: 1;
}



button:hover { /*efeito de crescimento do botão quando passa o mouse*/
  transform: scale(1.05);
}


button:active { /*efeito de click no botão*/
  transform: scale(0.95);
  box-shadow: 0 2px 0 #006400;
}

/* animação */

@keyframes piscar {
  0% { opacity: 1; }
  50% { opacity: 0.7; }
  100% { opacity: 1; }
}


/* Modal para avisar do tempo acabado */
.modal {
    display: none; 
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0); 
    justify-content: center;
    align-items: center;
}

.modal-content {
    padding: 20px;
    border-radius: 10px;
    text-align: center;

    background: rgba(0, 0, 0, 0.653);
    box-shadow: 0 8px 32px 0 rgba(255, 215, 0);
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;

    /* box-shadow: 
    0 0 10px gold,
    inset 0 0 20px #000; */

    animation: pulsarSombra 1s infinite;
    
}

.mensagem-modal{
  animation: piscar 1s infinite;
  color: red;

  text-shadow:
        0 0 5px #ff0000,
        0 0 10px #ff0000,
        0 0 20px #ff0000e4;
 
    
}

.paragrafo-modal{
  color: rgba(254, 63, 63, 0.655);

  animation: brilhoTitulo 3s linear infinite;

  font-size: large;
 


  font-weight: bold;
  text-shadow:
        0 0 5px #ff003c7e,
        0 0 10px #ff00408c,
        0 0 20px #ff002f56;
}

.btnModal{

  padding: 10px 30px;
  font-size: 15px;
  font-weight: bold;
  
  

  background: linear-gradient(#c80000, #960000);
  color: white;

  border: none;
  border-radius: 10px;

  cursor: pointer;

  box-shadow:
    0 5px 0 #641700,
    0 0 15px #ff0000;
}

.paragrafo-modal-botao{

   color: rgb(254, 235, 63);

  animation: brilhoTitulo 3s linear infinite;

 


  font-weight: bold;
  text-shadow:
        0 0 5px #ffe10084,
        0 0 10px #f2ff0028,
        0 0 20px #ffff0014;

}

.footer-logo::before {
  content: "";
    position: absolute;
    
    margin-top: 12px;
    width: 710px;
    height: 10px;
    transform: translateY(-60%);
    transform: translateX(-100%);


    background: radial-gradient(circle, #ffd700 4px, transparent 5px);
    background-size: 30px 10px;
    background-repeat: repeat-x;

    filter: drop-shadow(0 0 5px #ffd700);

    animation: bolinhasAndando 2s linear infinite;
}

.footer-logo::after {
    content: "";
    position: absolute;
    
    margin-top: 12px;
    width: 710px;
    height: 10px;
    
    background: radial-gradient(circle, #ffd700 4px, transparent 5px);
    background-size: 30px 10px;
    background-repeat: repeat-x;

    filter: drop-shadow(0 0 5px #ffd700);

    animation: bolinhasAndando 2s linear infinite;
}

.footer {
   
    color: #fff;
    
    width: 100%;
    padding: 40px 20px;
    text-align: center;
    margin-top: 15%;
}

.footer-logo {
    font-size: 28px;
    background: linear-gradient(45deg, #d1b917, #ffcc00);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}

.footer-text {
    font-size: 14px;
    color: #ccc;
    margin-bottom: 20px;
}

.footer-links {
    margin-bottom: 20px;
}

.footer-links a {
    color: #ffcc00;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
}

.footer-links a:hover {
    color: #fff;
    text-shadow: 0 0 10px #ffcc00;
}

.footer-copy {
    font-size: 12px;
    color: #777;
}
