@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: 
        linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
        url('../assets/fundo-slot.jpg');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    box-shadow: 
    inset 0 0 50px #0b0b0b,
    inset 0 0 50px #170404,
    inset 0 0 50px #180404;

    
}



body::-webkit-scrollbar {
  display: none;
}

header{
    width: 50%;
}


main{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CARD */
.card{
    
    width: 10v;
    max-width: 90%;
    padding: 50px 40px;

    background: rgba(255, 255, 255, 0.007);
    box-shadow: 0 8px 32px 0 rgba(255, 215, 0);
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    border-radius: 18px;
    margin-top: 10vh;
    box-shadow: 
    0 0 6px #d0c243,
    0 0 12px #b3a615,
    0 0 24px #d0c00d;

    animation: pulsarSombra 1s infinite;
}


@keyframes pulsarSombra {
  0% {
    box-shadow: 0 0 10px rgba(255, 215, 0);
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 215, 0);
  }
  100% {
    box-shadow: 0 0 10px rgba(255, 215, 0);
  }
}

.card-nome{
    font-size: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: rgb(235, 223, 223);


}


input{
    border: 2px solid #0a0a0a;
    border-radius: 7px;
    padding: 7px;
    background-color: white;

    outline: none;

    
}

button{
   
  font-family: Oswald;
  font-size: 3vh;

  position: relative;
  display: inline-block;
  overflow: hidden; /* Essencial: esconde o reflexo fora do botão */
  transition: 0.3s;
  padding: 7px;
  
  background: linear-gradient(to bottom right, gold, rgba(255, 217, 0, 0.737));
  color: white;

  border: none;
  border-radius: 10px;

  cursor: pointer;

  box-shadow:
    0 5px 0 #616400,
    0 0 15px   #fff200d6;
}


button::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%; /* Inicia fora da tela (à esquerda) */
  width: 50%;
  height: 100%;
  background: linear-gradient( 120deg,
    transparent,
    rgb(255, 255, 255), /* Brilho branco translúcido */
    transparent
  );
  transition: 0.5s;
}

/* Ativando o reflexo no Hover */
button:hover::after {
  left: 150%; /* Move para fora da tela (à direita) */
}

.footer {
    background: linear-gradient(to top, #000, #1a0000);
    box-shadow: 
    0 0 5px #d2c61b,
    0 0 10px #71702c,
    0 0 20px #aa8a28;

    color: #fff;
    
    height: 150px;
    padding: 40px 20px;
    text-align: center;
    margin-top: 23.5vh;
    
}

.footer::before,
.footer::after {
    content: " ";
    position: absolute;
    left: 0;
    top: 20px;
    width: 100%;
    height: 10px;
    background: radial-gradient(circle, #ffd700 4px, transparent 5px);
    background-size: 30px 10px;
    background-repeat: repeat-x;
    filter: drop-shadow(0 0 5px #ffd700);

    animation: bolinhasAndando 3s linear infinite;
}



@keyframes bolinhasAndando {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 30px 0;
    }
}

.footer-logo {
    font-size: 28px;
    background: linear-gradient(45deg, #d1b917, #ffcc00);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}

.footer-text {
    font-size: 14px;
    color: #ccc;
    margin-bottom: 20px;
}

.footer-links {
    margin-bottom: 20px;
}

.footer-links a {
    color: #ffcc00;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
}

.footer-links a:hover {
    color: #fff;
    text-shadow: 0 0 10px #ffcc00;
}

.footer-copy {
    font-size: 12px;
    color: #777;
}


.paragrafo{
    display: flex;
    justify-content: center;
    font-size: 13px;
}

.SaldoMin{
    width: 30vh;
    background-color: #000;
    padding: 20px;
    border: 2px solid gold;
    border-radius: 15px;
    color: gold;
    display: flex;
    justify-content: center;
    font-family: Oswald;
    margin-top: 30px;

    font-size: 2.5vh;

    animation: pulsarSombra 0.5s infinite;
}

@keyframes brilhoTitulo {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 200%;
    }
}

.Titulo{

  
   position: relative;
   font-family: Oswald;
   font-size: 50px;
   letter-spacing: 4px;
   text-transform: uppercase;
   line-height: 1;
  
    background: linear-gradient(90deg, #fff3a0, #ffd700, #ffb300, #fff3a0);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  
 
    
  
  text-shadow:
        0 0 5px #ffd700,
        0 0 10px #ffcc00,
        0 0 20px #ffb300;
    
  justify-content: center;
  display: flex;
}



.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 35vh;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: rgb(255, 196, 0);;
}

.form-control label {
  position: absolute;
  top: 10px;
  left: 0;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  color: #fff;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus+label span,
.form-control input:valid+label span {
  color: gold;
  text-shadow:
        0 0 5px #ffd700,
        0 0 10px #ffcc00,
        0 0 20px #ffb300;

  
  transform: translateY(-30px);
}