@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
}

body{
    
    

    background: radial-gradient(circle at top, #31000a, #0a0a0a);
}

body::-webkit-scrollbar {
    display: none;
}


.fundo-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.fundo-carrossel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200vh;
    animation: scrollDown 10s linear infinite;
}

.fundo {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: 0.5;
}

@keyframes scrollDown {
    0%   { transform: translateY(0); }
    100% { transform: translateY(-100vh); }
}


main{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


@keyframes pulsarSombra {
    0% {
        box-shadow: 0 0 10px rgba(255, 215, 0);
    }
    50% {
        box-shadow: 0 0 20px rgba(255, 215, 0);
    }
    100% {
        box-shadow: 0 0 10px rgba(255, 215, 0);
    }
}

.titulo {
    left: 50%;
    position:absolute;
    top: -8px;
    transform: translateX(-50%);
    font-family: 'Great Vibes', cursive !important;
    font-size: 34px;
    background: linear-gradient(90deg, #fff3a0, #ffd700, #ffb300, #fff3a0);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    text-shadow:
    0 0 5px #ffd700,
    0 0 10px #ffcc00,
    0 0 20px #ffb300;
    animation: brilhoTitulo 3s linear infinite;
}

.titulo::before {
  content: "";
    position: absolute;
    top: 50%;
    width: 750px;
    height: 10px;
    transform: translateY(-50%);
    transform: translateX(-100%);


    background: radial-gradient(circle, #ffd700 4px, transparent 5px);
    background-size: 30px 10px;
    background-repeat: repeat-x;

    filter: drop-shadow(0 0 5px #ffd700);

    animation: bolinhasAndando 2s linear infinite;
}

.titulo::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 720px;
    height: 10px;
    
    background: radial-gradient(circle, #ffd700 4px, transparent 5px);
    background-size: 30px 10px;
    background-repeat: repeat-x;

    filter: drop-shadow(0 0 5px #ffd700);

    animation: bolinhasAndando 2s linear infinite;
}

@keyframes bolinhasAndando {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 30px 0;
    }
}
.logo{
    
    height:130px ;
}

.logo-bet{
    width: 130px;
    height: 130px;

}


/* CARD */
.card{
    
    width: 60vh;
    height: 65vh;
    max-width: 90%;
    padding: 50px 40px;
    
  
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-top: 10vh;

    box-shadow: 

    0 0 6px #6b0015,
    0 0 12px #a00028,
    0 0 24px #d11a3a;

   border-radius: 10px;

}



.Titulo{

  
   position: relative;
   font-family: Oswald;
   font-size: 50px;
   letter-spacing: 4px;
   text-transform: uppercase;
   line-height: 1;
  
    background: linear-gradient(90deg, #fff3a0, #ffd700, #ffb300, #fff3a0);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  
  text-shadow:
        0 0 5px #ffd700,
        0 0 10px #ffcc00,
        0 0 20px #ffb300;
    
  justify-content: center;
  display: flex;
}


.card-nome{
    font-size: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: rgb(235, 223, 223);
    
    
}

.SaldoMin{
    width: 30vh;
    background-color: #000;
    padding: 20px;
    border: 2px solid gold;
    border-radius: 15px;
    color: gold;
    display: flex;
    justify-content: center;
    font-family: Oswald;
    margin-top: 30px;

    font-size: 2.5vh;

    animation: pulsarSombra 0.5s infinite;
    
}



@keyframes brilhoTitulo {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 200%;
    }
}


input{
    border: 2px solid #0a0a0a;
    border-radius: 7px;
    padding: 7px;
    background-color: white;
    
    outline: none;
    
    
}

#saldoInput::-webkit-outer-spin-button,
#saldoInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 35vh;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: rgb(255, 196, 0);;
}

.form-control label {
  position: absolute;
  top: 10px;
  left: 0;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  color: #fff;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus+label span,
.form-control input:valid+label span {
  color: gold;
  text-shadow:
        0 0 5px #ffd700,
        0 0 10px #ffcc00,
        0 0 20px #ffb300;

  
  transform: translateY(-30px);
}

button{
    
    font-family: Oswald;
    font-size: 3vh;
    
    position: relative;
    display: inline-block;
    overflow: hidden; /* Essencial: esconde o reflexo fora do botão */
    transition: 0.3s;
    padding: 7px;
    
    background: linear-gradient(to bottom right, gold, rgba(255, 217, 0, 0.737));
    color: white;
    
    border: none;
    border-radius: 10px;
    
    cursor: pointer;
    
    box-shadow:
    0 5px 0 #616400,
    0 0 15px   #fff200d6;
}


button::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%; /* Inicia fora da tela (à esquerda) */
    width: 50%;
    height: 100%;
    background: linear-gradient( 120deg,
    transparent,
    rgba(255, 255, 255, 0.699), /* Brilho branco translúcido */
    transparent
    );
    transition: 0.4s;
}

/* Ativando o reflexo no Hover */
button:hover::after {
    left: 150%; /* Move para fora da tela (à direita) */
}

.paragrafo{
    display: flex;
    justify-content: center;
    font-size: 13px;
}

.footer {
       background-color: #180204dd;
   
   border-radius: 10px;
    box-shadow: 

    0 0 6px #6b0015,
    0 0 12px #a00028,
    0 0 24px #d11a3a;
    
    color: #fff;
    
    height: 150px;
    padding: 40px 20px;
    text-align: center;
    margin-top: 23.5vh;
    
}

.footer-logo {
    font-size: 28px;
    background: linear-gradient(45deg, #d1b917, #ffcc00);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}

.footer-text {
    font-size: 14px;
    color: #ccc;
    margin-bottom: 20px;
}

.footer-links {
    margin-bottom: 20px;
}

.footer-links a {
    color: #ffcc00;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
}

.footer-links a:hover {
    color: #fff;
    text-shadow: 0 0 10px #ffcc00;
}

.footer-copy {
    font-size: 12px;
    color: #777;
}






